<section>
	<div class="topHome">

		<%= render 'topnav' %>
	
		<div class="container-fluid">
			
			<div class="row">
				<div class="col-md-3 col-md-offset-9">
					<div class="btn-box">
						<p class="text-center"><%= link_to "Donate Now", donate_path, class: "btn btn-home btn-block" %></p>
						<p class="text-center"><%= link_to "Sponsor a Child", sponsorships_path, class: "btn btn-home btn-block" %></p>
						<!--<p class="btn-text">Spondor a child for as little as $34 a month. Find out how.</p>-->
					</div>
				</div>
			</div>
			
		</div>


	</div>
</section>

<section class="callToAction">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<p class="missionStatement text-center">Matumaini means "Hope" in Swahili. Our mission is to bring just that to under privileged widows and orphans in Rwanda and DRC Africa.</p>
			
				<!--<p class="text-center"><%= link_to "Learn more about Matumaini's Mission", story_path, class: "missionSL" %></p>-->
			</div>
		</div>
	</div>
</section>


<!-- BOXES SECTION -->
<section class="boxes">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				
				<div class="view view-first">
					<%= image_tag "donate.jpg", class: "img-rouded img-responsive", alt: "img" %>
					<div class="mask">
						<h2>Donate</h2>
						<!--<p>This is text that will appear in the box when I hover over it.</p>-->
						<%= link_to "Read More", donate_path, class:"btn btn-home btn-sm" %>
					</div>
				</div>
				<p class="text-center box-text">Learn how you can bring hope to a child in need</p> 
			</div>
			<div class="col-md-3">
				<div class="view view-first">
					<%= image_tag "sponsorship.jpg", class: "img-rouded img-responsive", alt: "img" %>
					<div class="mask">
						<h2>Sponsorships</h2>
						<!--<p>This is text that will appear in the box when I hover over it.</p>-->
						<%= link_to "Read More", sponsorships_path, class:"btn btn-home btn-sm" %>
					</div>
				</div>
				<p class="text-center box-text">Learn about how you can sponsor a child in need</p>  
			</div>
			<div class="col-md-3">
				<div class="view view-first">
					<%= image_tag "kids.jpg", class: "img-rouded img-responsive", alt: "img" %>
					<div class="mask">
						<h2>Our Story</h2>
						<!--<p>This is text that will appear in the box when I hover over it.</p>-->
						<%= link_to "Read More", story_path, class:"btn btn-home btn-sm" %>
					</div>
				</div>
				<p class="text-center box-text">Learn more about Matumaini's Mission</p> 
			</div>
			<div class="col-md-3">
				<div class="view view-first">
					<%= image_tag "spotlight.jpg", class: "img-rouded img-responsive", alt: "img" %>
					<div class="mask">
						<h2>Projects</h2>
						<!--<p>This is text that will appear in the box when I hover over it.</p>-->
						<%= link_to "Read More", projects_path, class:"btn btn-home btn-sm" %>
					</div>
				</div>
				<p class="text-center box-text">Learn more about our current projects</p> 
			</div>
			
		</div>
	</div>
</section>


<%= render 'footer' %>